<h1>Here's the list of our amazing Cocktails</h1>

<div class="container">
  <div class="row">
    <ul>
      <%@cocktails.each do |cocktail|%>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/assets/images/background.jpg');">
            <div class="card-description">
              <li>
                <%= link_to(cocktail.name, cocktail_path(cocktail.id), class: "lien") %>
              </li>
            </div>
          </div>
        </div>
      <%end%>
    </ul>
  </div>
</div>



<%= link_to("Create a new cocktail", new_cocktail_path)%>
