/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.bttn-red {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #D23333;
  color: white;
  font-size: 14px;
  border: 2px solid #D23333;
  text-align: center;
  margin-top: 70px;
}

.bttn-red:hover {
  color: white;
  background: #D23333;
  border-color: #ac2626;
}

.main-title {
  margin-bottom: 80px;
  border-bottom : 1px solid #000;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  margin-left: 40px;
  margin-right: 40px;
  background: linear-gradient(45deg, white,#E8DADA );
  margin-top: 50px;
  padding-top: 20px;
  border-radius: 4px;
}
